.benefits {
  padding-bottom: 90px;
  background-color: $grey-blue;

  @media (max-width: $mobile-width-max) {
    padding-bottom: 24px;
  }
}

.benefits__container {
  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}

.benefits h2 {
  @include reset-indents;
  padding-top: 116px;
  padding-bottom: 43px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $twilight-blue;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 45px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
  }
}

.benefits__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 363px;
  padding-right: 66px;
  padding-left: 92px;

  @media (max-width: $desktop-width-max-2) {
    padding: 0;
  }

  @media (max-width: $tablet-width-max) {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }
}

.benefits__item--area {
  order: 1;
  padding-bottom: 55px;
}

.benefits__item--parking {
  order: 4;
  padding-bottom: 55px;

  @media (max-width: $tablet-width-max) {
    order: 2;
  }
}

.benefits__item--comfort {
  order: 2;

  @media (max-width: $tablet-width-max) {
    order: 4;
  }
}

.benefits__item--experience {
  order: 5;
}

.benefits__item {
  display: flex;
  width: 337px;

  @media (max-width: $tablet-width-max) {
    align-items: center;
    width: 48%;
    padding: 0;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    padding-bottom: 41px;
    text-align: center;
  }
}


.benefits__stats {
  padding-right: 32px;

  @media (max-width: $mobile-width-max) {
    padding-right: 0;
  }
}

.benefits__number > p {
  @include reset-indents;
  font-weight: 700;
  font-size: 71px;
  line-height: 106px;
  background: linear-gradient(to right bottom, #d10a42, #0041ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $tablet-width-max) {
    font-size: 58px;
    line-height: 51px;
  }
}

.benefits__stats > p {
  @include reset-indents;
  color: $medium-dark-blue;

  @media (max-width: $mobile-width-max) {
    padding-bottom: 5px;
  }
}

.benefits__stats-info {
  padding-top: 21px;

  @media (max-width: $tablet-width-max) {
    padding-top: 0;
  }
}

.benefits__stats-info p {
  @include reset-indents;
  color: $twilight-blue;

  &:first-child {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    @media (max-width: $tablet-width-max) {
      padding-bottom: 0;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:last-child {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $mobile-width-max) {
      max-width: 227px;
    }
  }
}

.benefits__stats--color p {
  &:first-child {
    font-size: 74px;
    line-height: 11px;
  }

  &:last-child {
    font-size: 26px;
    line-height: 39px;
  }
}

.benefits__item--middle {
  flex-direction: column;
  order: 3;
  width: 240px;
  margin-top: 27px;
  padding: 50px 29px 58px;
  background-color: $twilight-light-blue;

  @media (max-width: $tablet-width-max) {
    width: 65%;
    order: 3;
    margin: 44px auto;
    padding: 24px 13px 38px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin: 5px 0 45px;
    padding-top: 33px;
    padding-bottom: 42px;
  }
}

.benefits__item--middle p {
  @include reset-indents;
  text-align: center;

  &:first-child {
    font-weight: 700;
    font-size: 74px;
    line-height: 82px;

    @media (max-width: $tablet-width-max) {
      line-height: 83px;
    }

    @media (max-width: $mobile-width-max) {
      line-height: 75px;
    }
  }

  &:last-child {
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $tablet-width-max) {
      max-width: 172px;
    }
  }
}

.benefits__item--middle p:first-child + p {
  padding-bottom: 31px;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 13px;
    font-size: 22px;
    line-height: 33px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 8px;
  }
}

.benefits__item--border {
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @media (max-width: $tablet-width-max) {
    border-bottom: none;
  }
}
