.coach {
  position: relative;
  padding-bottom: 104px;
}

.coach h2 {
  @include reset-indents;
  padding-bottom: 51px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $twilight-blue;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 32px;
    line-height: 32px;
  }
}

.coach__btn {
  position: absolute;
  width: 16px;
  height: 32px;
  border: none;
  background: url("../img/arrow.svg") no-repeat;
  background-size: cover;
  background-color: transparent;

  &--previous {
    top: 45%;
    left: 3%;
  }

  &--next {
    top: 45%;
    right: 3%;
    transform: rotate(-180deg);
  }
}

.coach__list {
  @include reset-list;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 131px;
  //   width: 16px;
  //   height: 32px;
  // }

  // &::before {
  //   left: -57px;
  //   background: url("../img/arrow-left.svg") no-repeat;
  //   background-size: cover;

  //   @media (max-width: $tablet-width-max) {
  //     left: 0;
  //   }
  // }

  // &::after {
  //   right: -57px;
  //   background: url("../img/arrow-right.svg") no-repeat;
  //   background-size: contain;

  //   @media (max-width: $tablet-width-max) {
  //     right: 0;
  //   }
  // }

  @media (max-width: $tablet-width-max) {
    justify-content: center;
  }
}

.coach__list > li {
  padding-bottom: 40px;

  &:not(:last-child) {
    padding-right: 40px;

    @media (max-width: $tablet-width-max) {
      padding-right: 0;

      &:not(:nth-child(2n)):not(:last-child) {
        padding-right: 30px;
      }
    }

    @media (max-width: $mobile-width-max) {
      &:not(:nth-child(2n)):not(:last-child) {
        padding-right: 0;
      }
    }
  }
}

.coach__wrap {
  position: relative;
}

.coach__img h3 {
  @include reset-indents;
  margin-top: -55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.coach__card {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 53px 46px 51px 61px;
  text-align: center;
  background-color: rgba($twilight-blue, 0.89);
}

.coach__card p {
  &:first-of-type {
    padding-bottom: 10px;
  }

  &:last-of-type {
    @include reset-indents;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
  }
}

.coach__card-info {
  padding-left: 10px;
  list-style-type: disc;
  text-align: left;
}

.coach__card-info li {
  &:not(:last-child) {
    padding-bottom: 14px;
  }
}
