.logo {
  width: 89px;
  height: 20px;

  @media (max-width: $tablet-width-max) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $mobile-width-max) {
    width: 68px;
    height: 15px;
  }
}
