.main-footer {
  background-color: $black;
}

.main-footer__wrap {
  display: flex;
  padding-top: 42px;
  padding-bottom: 24px;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.main-footer__social-wrap {
  display: flex;
  width: 20%;

  @media (max-width: $mobile-width-max) {
    width: auto;
  }
}

.main-footer__social-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
  }
}

.main-footer__social-list li {
  padding-bottom: 10px;

  &:not(:last-child) {
    padding-right: 25px;

    @media (max-width: $tablet-width-max) {
      padding-right: 20px;
    }
  }
}

.main-footer__social-link svg {
  fill: $white;

  &:hover,
  &:focus {
    fill-opacity: 0.8;
  }

  &:active {
    fill-opacity: 0.5;
  }
}

.main-footer__social-list a {
  color: $white;
}

.main-footer__social-link--vk svg {
  width: 24px;
  height: 13px;

  @media (max-width: $mobile-width-max) {
    width: 32px;
    height: 17px;
  }
}

.main-footer__social-link--insta svg {
  width: 24px;
  height: 24px;

  @media (max-width: $mobile-width-max) {
    width: 27px;
    height: 27px;
  }
}

.main-footer__social-link--fb svg {
  width: 12px;
  height: 24px;

  @media (max-width: $mobile-width-max) {
    width: 14px;
    height: 27px;
  }
}
