.main-nav__wrap {
  display: flex;
  width: 80%;

  @media (max-width: $mobile-width-max) {
    display: inline;
    column-count: 2;
    column-width: 100px;
    column-gap: 2em;
    width: 100%;
    padding-bottom: 25px;
  }
}

.main-nav__wrap > a {
  width: 30%;

  @media (max-width: $mobile-width-max) {
    display: block;
    width: auto;
    padding-bottom: 17px;
  }
}

.main-nav {
  display: flex;
  width: 90%;

  @media (max-width: $mobile-width-max) {
    width: auto;
  }
}


.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $mobile-width-max) {
    display: inline;
    margin-right: 0;
    margin-left: 0;
  }
}

.main-nav__list {
  @include reset-list;
}


.main-nav__list li {
  padding-bottom: 10px;

  &:not(:last-child) {
    padding-right: 40px;

    @media (max-width: $tablet-width-max) {
      padding-right: 30px;
    }
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 16px;
  }
}


.main-nav__list a {
  font-size: 14px;
  line-height: 16px;
  color: $white;


  @media (max-width: $mobile-width-max) {
    font-size: 16px;
    line-height: 19px;
  }
}
