.membership {
  padding-top: 117px;
  padding-bottom: 100px;
  background-color: $grey-blue;
  overflow: hidden;

  @media (max-width: $tablet-width-max) {
    padding-top: 79px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 19px;
    padding-bottom: 70px;
  }
}

.membership ul {
  @include reset-list;
}

.membership__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.membership h2 {
  @include reset-indents;
  padding-bottom: 37px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $twilight-blue;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 32px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 25px;
    font-size: 32px;
    line-height: 32px;
  }
}

.membership__months-wrap {
  display: inline-flex;
  margin-bottom: 38px;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (max-width: $tablet-width-max) {
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 35px;
  }
}

.membership__months-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.membership__months-list li {
  &:not(:last-child) {
    padding-right: 46px;

    @media (max-width: $tablet-width-max) {
      padding-right: 54px;
    }

    @media (max-width: $mobile-width-max) {
      padding-right: 58px;
    }
  }
}

.membership__months-list a {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  color: rgba($twilight-blue, 0.5);

  @media (max-width: $tablet-width-max) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 21px;
  }
}

.membership__months-item .membership__months-link--active {
  padding-bottom: 15px;
  color: $twilight-blue;
  border-bottom: 2px solid #d10a42;
}

.membership__rate-item p {
  @include reset-indents;

  &:first-of-type {
    padding-bottom: 13px;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: $twilight-blue;

    @media (max-width: $mobile-width-max) {
      padding-bottom: 11px;
      font-size: 22px;
      line-height: 25px;
    }
  }

  &:last-of-type {
    padding-bottom: 33px;
    font-weight: 700;
    font-size: 58px;
    line-height: 87px;
    color: $dark-blue;

    @media (max-width: $mobile-width-max) {
      padding-bottom: 30px;
      font-size: 46px;
      line-height: 69px;
    }
  }
}

.membership__rate-price {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: -27px;
    left: -19px;
    width: 100px;
    height: 100px;
    font-size: 98px;
    color: #e8e8e8;
    opacity: 0.48;
    z-index: -1;

    @media (max-width: $tablet-width-max) {
      top: -22px;
      left: -18px;
    }

    @media (max-width: $mobile-width-max) {
      font-size: 80px;
    }
  }

  &--5000::before {
    content: "5000";
  }

  &--1700::before {
    content: "1700";
  }

  &--2700::before {
    content: "2700";
  }
}

.membership__rate-item p:first-of-type + p {
  padding-bottom: 70px;
  color: $dark-grey-blue;

  @media (max-width: $mobile-width-max) {
    padding-bottom: 58px;
  }
}

.membership__rate-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width-max-2) {
    justify-content: center;
  }

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
  }
}

.membership__rate-list li {
  width: 360px;
  margin-bottom: 20px;
  padding: 7px;
  background-color: $white;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 0;
  }


  &:not(:nth-child(3n)) {
    margin-right: 40px;

    @media (max-width: $tablet-width-max) {
      margin-right: 0;
    }
  }

  @media (max-width: $desktop-width-max-2) {
    margin-right: 40px;
  }

  @media (max-width: $tablet-width-max) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width-max) {
    width: 442px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 290px;
  }
}

.membership__rate-list .membership__rate-item--border {
  background-image: $gradient-border;
}


.membership__rate-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 58px 47px;
  background-color: $white;

  @media (max-width: $mobile-width-max) {
    padding: 43px 34px;
  }
}

.membership__rate-btn {
  padding: 24px 43px;
  color: $twilight-blue;
  border: 2px solid $twilight-blue;

  &--color {
    color: $white;
    background-image: linear-gradient(90deg, #ed0233, #003eb7);
    background-origin: border-box;
    border-color: transparent;
  }
}
