.membership-unlimited {
  display: flex;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }
}

.membership-unlimited__wrap p {
  @include reset-indents;

  &:first-of-type {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
  }

  &:last-of-type {
    padding-bottom: 19px;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
  }
}

.membership-unlimited__wrap h2 {
  @include reset-indents;
  padding-bottom: 187px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  @media (max-width: $mobile-width-max) {
    padding-bottom: 40px;
  }
}

.membership-unlimited__wrap a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid $white;
  color: $white;

  &:focus,
  &:hover {
    color: rgba($white, 0.8);
    border-bottom: 1px solid rgba($white, 0.8);
  }

  &:active {
    color: rgba($white, 0.5);
    border-bottom: 1px solid rgba($white, 0.5);
  }
}


.membership-unlimited__background {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: url("../img/stock-tab.jpg") 40% 0 no-repeat;
    background-size: cover;
    background-color: #416adb;

    @media (max-width: $tablet-width-max) {
      width: 100%;
    }

    @media (max-width: $mobile-width-max) {
      height: 299px;
    }
  }

  @media (max-width: $tablet-width-max) {
    width: 60%;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
    height: 299px;
  }
}

.membership-unlimited__background-wrap {
  background-color: $rose-red;

  @media (max-width: $tablet-width-max) {
    width: 41%;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
  }
}

.membership-unlimited__wrap {
  width: 280px;
  padding: 39px 45px 43px;


  @media (max-width: $tablet-width-max) {
    width: 279px;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
    text-align: center;
  }
}
