.review-slider {
  padding-bottom: 120px;
}

.review-slider h2 {
  @include reset-indents;
  padding-bottom: 51px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $twilight-blue;

  @media (max-width: $tablet-width-max) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 32px;
    line-height: 32px;
  }
}

.review-slider__list {
  @include reset-list;
}

.review-slider__item {
  display: flex;
  width: 560px;
  margin: 0 auto;
  padding: 54px 45px 58px 61px;
  background-color: $twilight-light-blue;

  @media (max-width: $tablet-width-max) {
    width: 566px;
    padding-right: 65px;
    padding-left: 65px;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    width: 226px;
    padding: 40px 25px;
  }
}

.review-slider__photo {
  width: 24%;

  @media (max-width: $tablet-width-max) {
    width: 25%;
  }

  @media (max-width: $mobile-width-max) {
    width: 68px;
    margin-bottom: -69px;
    margin-left: 10px;
  }
}

.review-slider__photo img {
  padding-top: 8px;
}

.review-slider__info {
  width: 72%;

  @media (max-width: $tablet-width-max) {
    width: 75%;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.review-slider__info cite {
  display: inline-flex;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;

  @media (max-width: $mobile-width-max) {
    max-width: 74px;
    margin-left: auto;
    padding-bottom: 28px;
    line-height: 26px;
  }
}

.review-slider__info blockquote {
  @include reset-indents;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $mobile-width-max) {
    text-align: center;
  }
}
