$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1199px;
$desktop-width: 1200px;
$desktop-width-max-2: 1365px;
$desktop-width-max: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$twilight-blue-color: #102654;
$white-color: #ffffff;
$dark-blue:#030a1a;
